@charset "UTF-8";
*{
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        ::-webkit-scrollbar{
            width: 0;
            height: 0;
        }
        img{
            width: 100%;
            height: auto;
            display: block;
           
        }

        a{
            display: block;
            background-color:darkred;
            padding: 15px;
            text-align: center;
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
        a:hover{
            background-color: rgb(226, 9, 9);
        }